registry=https://profair-npm-743656007176.d.codeartifact.eu-north-1.amazonaws.com/npm/ProfairNPM/
//profair-npm-743656007176.d.codeartifact.eu-north-1.amazonaws.com/npm/ProfairNPM/:always-auth=true
//profair-npm-743656007176.d.codeartifact.eu-north-1.amazonaws.com/npm/ProfairNPM/:_authToken=${CODEARTIFACT_AUTH_TOKEN}