@font-face {
	font-family: "Roboto";
	src: url("./roboto/robotoRegular/roboto-regular.ttf") format("truetype"),
		url("./roboto/robotoRegular/roboto-regular.woff") format("woff");
}
@font-face {
	font-family: "Roboto Condensed";
	src: url("./roboto/robotoCondensedBold/roboto-condensed-bold.ttf") format("truetype"),
		url("./roboto/robotoCondensedBold/roboto-condensed-bold.woff") format("woff");
}
@font-face {
	font-family: "Roboto Black Italic";
	src: url("./roboto/robotoBlackItalick/roboto-blackItalic.ttf") format("truetype"),
		url("./roboto/robotoBlackItalick/roboto-blackItalic.woff") format("woff");
}
@font-face {
	font-family: "Verdana";
	src: url("./verdana/verdana.ttf") format("truetype"), url("./verdana/verdana.woff") format("woff");
}
@font-face {
	font-family: "Open Sans ExtraBold";
	src: url("./openSans/openSansExtraBold/OpenSans-ExtraBold.ttf") format("truetype"),
		url("./openSans/openSansExtraBold/OpenSans-ExtraBold.woff") format("woff");
}
@font-face {
	font-family: "Open Sans ExtraBoldItalic";
	src: url("./openSans/openSansExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype"),
		url("./openSans/openSansExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff");
}
.roboto-black-italic {
	font-family: "Roboto Black Italic", sans-serif;
	font-style: italic;
	font-weight: 900;
}
.roboto-condensed {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
}
.roboto {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.verdana {
	font-family: "Verdana", sans-serif;
	font-weight: 400;
}
.open-sans-extraBold-800 {
	font-family: "Open Sans ExtraBold", sans-serif;
	font-weight: 800;
}
.open-sans-extraBoldItalic-800 {
	font-family: "Open Sans ExtraBoldItalic", sans-serif;
	font-weight: 800;
	font-style: italic;
}
.fontsPreload {
	font-weight: 700;
	position: absolute;
	left: -1000px;
	visibility: hidden;
	height: 0;
}
